{% extends "app/layout.html" %}

{% block content %}

{% load static %}

{% csrf_token %}
{% if lista_krajow %}

   
    <div class="row">
        {% for country in lista_krajow %}
            <!--<li><a href="{% url 'app:detail' country.id %}">{{ country.country_name }}</a></li>-->
            <div class="col-md-4 col-sm-6" style="background-color:transparent; text-align: center; ">
                <div style="background-color:white; box-shadow: 0px 0px 50px lightgray; padding:1% 0% 3% 0%; margin:10px;">
                     <h2>{{ country.country_name }}</h2>
                     <p>
                        TESTOWY OPIS
                     </p>
                     <p><a class="btn btn-default" href="{% url 'app:detail' country.id %}">Pokaz sklepy &raquo;</a></p>
                </div>
            </div>

        {% endfor %}
    </div>

{% else %}
    <p>Pusta lista krajow</p>
{% endif %}
{% endblock %}